.icons-sprite, .icons-Java, .icons-JavaScript, .icons-Java_powered, .icons-Octocat, .icons-css3, .icons-devpost, .icons-facebook, .icons-html5, .icons-jQuery, .icons-linkedin, .icons-python, .icons-twitter, .icons-youtube {
  background-image: url('../images/icons-sff634b0f47.png');
  background-repeat: no-repeat;
  height: 100px;

}

.icons-Java {
  background-position: 0 0;
    width: 100px;

}

.icons-JavaScript {
  background-position: 0 -100px;
    width: 100px;

}

.icons-Java_powered {
  background-position: 0 -200px;
    width: 72px;
}

.icons-Octocat {
  background-position: 0 -300px;
    width: 120px;
}

.icons-css3 {
  background-position: 0 -400px;
    width: 71px;
}

.icons-devpost {
  background-position: 0 -500px;
    width: 116px;
}

.icons-facebook {
  background-position: 0 -600px;
    width: 100px;
}

.icons-html5 {
  background-position: 0 -700px;
    width: 100px;
}

.icons-jQuery {
  background-position: 0 -800px;
    width: 100px;
}

.icons-linkedin {
  background-position: 0 -900px;
    width: 109px;
}

.icons-python {
  background-position: 0 -1000px;
    width:  68px;
}

.icons-twitter {
  background-position: 0 -1100px;
    width: 100px;
}

.icons-youtube {
  background-position: 0 -1200px;
    width: 161px;
}




ul.icon li a{
    display: block;
    text-indent: 10000%;
    height: 100%;
    width: 100%;
}

